body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: pink;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-rows: 10vh minmax(81vh, auto) 9vh;
}

.nav-bar {
  grid-area: "nav";
  display: flex;
  justify-content: flex-end;
}
.main-content {
  grid-area: "main";
}
.nav-bar * {
  padding-right: 10px;
}
