body {
  font-family: "Anton", sans-serif;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: papayawhip;
  /* margin: 1%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* object-fit: cover; */
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-rows: 10vh minmax(81vh, auto) 9vh;
}

.nav-bar {
  grid-area: "nav";
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  width: 100%;
}
.main-content {
  grid-area: "main";
  padding: 2%;
  background: #ffcb77;
}

.react-calendar {
  transform: scale(1.5);
  position: absolute;
  top: 30vh;
  left: 20%;
}

.flex-start-self {
  left: 20px;
  position: absolute;
}

.dashboard {
  color: papayawhip;
  z-index: 1;
  opacity: 1;
  position: relative;
}

.transparent-box {
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.transparent-box:hover {
  background: rgba(0, 0, 0, 0.8);
}

.search-result {
  margin-bottom: 10px;
  width: 22%;
  display: flex;
  padding-right: 20px;
  justify-content: space-between;
}

.search-display-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.highlight > h1 {
  font-weight: bolder;
  font-size: 4.5em;
  font-family: "Codystar", cursive;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 50vh;
}

a {
  color: whitesmoke;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  overflow: hidden;
  grid-area: footer;
  z-index: -3;
  font-size: 0.8rem;
  font-weight: bold;
  color: #567f5d;
}

footer * {
  margin-top: 5px;
  margin-bottom: 5px;
}
